<template id="leser_template">
		<div class="contain leser" id="leser_contain{{ID}}"> 
			<dl>
				<dt><a class="lesername" href="./leser.php?Leserid={{ID}}">{{Name}}, {{Vorname}}</a></dt>
				<dd><a class="leserdata">{{Strasse}} {{Hausnr}}<a></dd>
				<dd><a class="label leserdata">Kürzel: </a><a class="leserdata">{{Ausweiscode}}</a> <a class="label leserdata">Klasse:</a> <a class="leserdata">{{Klasse}}</a></dd>
			</dl>
			<div class="symbols">
				<a class="leser_symbol"  href="./inc/showbox_leser.php?leserid={{ID}}"><img src="./img/gruppe_{{Gruppe}}.png"></a>
				{{#if info}}<a class="info_symbol" href="./inc/showbox_info.php?leserid={{ID}}" title="Info über {{Vorname}} {{Name}} "><img id="info_{{ID}}" src="./img/info.png"></a>
				{{else}}<a class="info_symbol" href="./inc/showbox_info.php?leserid={{ID}}" title="Info über {{Vorname}} {{Name}} "><img id="info_{{ID}}" src="./img/info_grau.png"></a>{{/if}}
				<a class="schloss_symbol" data-leserid="{{ID}}"><img id="schloss_{{ID}}" title="Leser sperren/entsperren" src="./img/gesperrt_{{gesperrt}}.png"></a>
				
			</div>
		</div>
	</template>
	